<div class="new-food-container container justify-content-center d-flex flex-column ">
    <h1 class="create-title">Add A New Inventory</h1>
    <%= form_with model: @food, url: user_inventory_index_path(current_user.id) do |f| %>
    <div class="form-group">
        <div class="form-outline mb-4">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control form-control-lg" %>
        </div>
       <div class="form-outline mb-4">
            <%= f.label :description %><br />
            <%= f.text_area :description, class: "form-control form-control-lg" %>
        </div>
        <div class="submit-btn">
             <%= f.submit  class: "btn btn-primary btn-lg btn-block"  %>
        </div>
    </div>
    <% end %>
</div>