<div class="container" style="margin-left: 30rem; margin-top:5rem">
  <% @recipes.each do |recipe| %>
  <% if recipe.public_recipe == true %>
  <div class="card mb-3 style-card" style="max-width: 540px; padding-left:30px">
    <div class="row g-0">
      <div class="col-md-4 d-flex flex-column">
        <%=  link_to recipe.name, user_recipe_index_path(user_id: current_user.id), style: "font-weight: bold; font-size: 22px; padding-top: 10px;" %> 
        <span class="font-bold">By: <%= recipe.user.name %></span>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">
            <span>Total food items: </span>
            <span class="font-bold"><%= recipe.recipe_count %></span>
          </p>
          <p class="card-text">
            <small>
              <% sum = 0 %>
              <% recipe.recipes_foods.each do |food| %>
              <% sum += food.quantity * food.food.price %>
              <% end %>
              <%= "Total price: $#{sum}" %>
            </small> 
          </p>
          <p class="card-text">
            <small class="text-muted">Added <%= time_ago_in_words(recipe.created_at)%></small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>